NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/flash_spot"
PORT=3001
JWT_SECRET="change-me-min-32-chars-long-secret-key"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PROJECT_KEY=flash-spot
