.codex
.cursor/

# Added by code-review-graph
.code-review-graph/
.mcp.json
CLAUDE.md
.claude/

# Prisma
**/generated/prisma

# Node
node_modules/
dist/
.env
.env.*
!.env.example
!docker/env/.env.dev
!docker/env/.env.qa
!docker/env/.env.staging
!docker/env/.env.production